@import '../../../variables';
$nav-item--button-bg: #464646 !default;
$nav-item--button-bg-active: #00aeff !default;
$nav-item--button-color: #fff !default;
$nav-item--link-color: #000 !default;


.nav-item {
  &--button {
    background-color: $nav-item--button-bg;
    color: $nav-item--button-color;
    margin: .5em;
    min-width: 70px;
    padding: .5em 1em;
    text-align: center;
    text-transform: uppercase;

    &.active {
      background-color: $nav-item--button-bg-active;
    }
  }

  &--link {
    background: none;
    color: $nav-item--link-color;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 0;
    text-transform: uppercase;
  }
}
