$overlay-bg-color: rgba(0, 0, 0, .8);

.post-tile--image {
  height: auto;
  width: 100%;

  &-overlay {
    background-color: $overlay-bg-color;
    background-image: url('../../../assets/images/preview.png');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s ease;
    width: 100%;
  }
}

.post-tile--image-container {
  position: relative;
  width: 100%;

  &:hover {
    .post-tile--image-overlay {
      opacity: 1;
    }
  }
}
