@import '../../../variables';

$category-filter-underline: $border-style-dotted;
$filters-container-border-bottom: $border-style;

.filters-container {
  border-bottom: $filters-container-border-bottom;
  margin-bottom: 25px;
  padding-bottom: 15px;

  .category-filter {
    border-bottom: $category-filter-underline;
    margin: 0 1em 0 0;
    text-transform: uppercase;

    &.selected {
      border-bottom: 0;
    }
  }
}
